

.nav-item.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    border-color: rgba(0, 0, 0, 0.1); 
}


.thumbnail {
    margin-bottom: 20px; /* Dodaje margines na dole dla oddzielenia odległości między zdjęciami */
}
.thumbnail img {
    height: 200px; /* Ustawia stałą wysokość dla zdjęć */
    object-fit: cover; /* Zapewnia, że obraz będzie wypełniał obszar */
}

.caption p {
    font-family: 'Arial', sans-serif; /* Wybiera czcionkę */
    color: black; /* Ustawia kolor tekstu na czarny */
    font-size:20px;
    font-weight: bold;
    text-align: center;
}